@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333438;
  background-size: cover;
}
@font-face {
  font-family: 'type';
  src: url('Compagnon.otf');
}
#headingmain {
  font-family: 'type';
  font-weight: 200;
  /* letter-spacing: 5px; */
  /* color: #e5b816e4; */
  color: rgb(123, 119, 119);
  font-size: 3vw;
  text-align: left;
  margin: 5px 0px 0px 30px;
  /* text-shadow: 4px 4px rgb(123, 119, 119); */
}
.wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 8vh;
  width: 85%;
  height: 50vh;
  border-radius: 30px;
  background-color: rgb(45, 46, 50, 0.8);
  /* opacity: 60%; */
  box-shadow: 0rem 0rem 5rem rgb(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-height: 100%;
  text-align: justify;
}
.letter {
  color: rgb(123, 119, 119);
  font-family: 'Roboto', sans-serif;
  font-family: 'Chivo Mono', monospace;
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: 2px;
  line-height: 60px;
}
.counter {
  color: #dfb414;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  font-weight: 400;
}
#redo {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 40px;
  filter: invert(100%);
}
.modal-restart {
  position: absolute;
  bottom: -20px;
  background-color: black;
  padding: 8px;
  color: rgb(123, 119, 119);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: 'Roboto';
}

.warning {
  background-color: #dfb414;
  color: #2d2e32;
  border: 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.3rem;
  font-family: 'Open Sans';
  position: absolute;
  top: 15px;
}
.warning img {
  margin-right: 5px;
}

.scoreCard {
  width: 80%;
  margin: 50px auto 0;
  color: rgb(123, 119, 119);
  font-family: 'Chivo Mono', monospace;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.Results {
  width: 60vw;
  height: 67vh;
  background-color: #202021;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 50px;
  font-family: 'Chivo Mono';
  z-index: 100;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cont {
  display: flex;
}
.Results hr {
  height: 5px;
  background-color: #3c3d41;
  margin: 15px 0px 25px 0px;
  border: 0px;
}
.Results h1 {
  margin: 0;
  text-shadow: none;
  color: #3c3d41;
  font-family: 'Chivo Mono';
}
.Results h2 {
  color: rgb(123, 119, 119);
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.Results h3 {
  margin-top: 20px;
  font-size: 1.3rem;
  color: rgb(123, 119, 119);
  font-weight: 200;
  letter-spacing: 3px;
  display: inline;
}
.Results span {
  color: #dfb414;
  font-weight: 500;
}
.left {
  width: 60%;
  height: 100%;
}
.right {
  width: 40%;
  height: 100%;
}
.right img {
  width: 80%;
}
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #1f1e1e;
  position: absolute;
  z-index: 50;
  top: 0px;
  opacity: 80%;
}
.close {
  color: #dfb414;
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 2rem;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.footer {
  width: 100vw;
  height: 25px;
  background-color: #1f1e1e;
  position: absolute;
  bottom: 0px;
  color: rgb(123, 119, 119);
  font-family: 'Open Sans';
  letter-spacing: 7px;
  text-align: center;
}
.header {
  width: 350px;
  height: 60px;
  /* background-color: #1f1e1e; */
  background-image: url('HeadingLogo3.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 10px;
}
.header img {
  margin-top: 10px;
  margin-left: 20px;
}
.nav {
  width: 20vw;
  height: 70px;
  margin: 0 auto;
  font-size: 2.3rem;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 15vh;
  background: rgba(166, 163, 163, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.nav-links {
  background-color: rgb(123, 119, 119);
  border-radius: 100px;
  cursor: pointer;
}
.nav-links:hover {
  transform: scale(115%);
  transition: 0.3s;
}
.scorebg {
  background-color: #333438;
  border-radius: 100px;
  padding: 5px;
}
